# Ignore build output
dist/

# Node modules
node_modules/

# Ignore test files
**/*.test.ts
**/*.spec.ts

# Ignore config files
config/eslintrc.js

# Ignore CLI entry points
bin/

# Ignore docs
docs/
